services:
  rabbit_mq:
    image: rabbitmq:4-management
    hostname: rabbit_mq
    container_name: ai_np_config_server_rabbitmq
    # command: /bin/bash -c "chown rabbitmq:rabbitmq /var/lib/rabbitmq/.erlang.cookie && chmod 400 /var/lib/rabbitmq/.erlang.cookie && rabbitmq-server"
    ports:
      - "5672:5672" # RabbitMQ default port
      - "15672:15672" # RabbitMQ Management UI port
    healthcheck:
      test: "rabbitmq-diagnostics check_port_connectivity || exit 1"
      interval: 10s # check every 10 seconds
      timeout: 5s # time to wait for healthcheck to complete
      retries: 5 # try 5 times before marking as unhealthy
      start_period: 10s # start health checking after 10s of container start
    extends:
      file: common-config.yml # use common config file to extend common settings
      service: network-deploy-service

  configserver: # cannot have service name as config_server because of underscore which is not allowed in docker service names by tomcat
    image: sgaurtech/config_server:v1 # use the built image from docker hub
    container_name: ai_np_config_server
    ports:
      - "8071:8071"
    depends_on:
      rabbit_mq: # the rabbit_mq service defined above
        condition: service_healthy
    environment:
      - NEW_RELIC_APP_NAME=ai_np_config_server (default)
    command: >
      java -javaagent:/newrelic/newrelic.jar
       -Dnewrelic.config.file=/newrelic/newrelic.yml
       -jar app.jar
    volumes:
      - ./newrelic:/newrelic
    healthcheck:
      test: "curl --fail --silent http://localhost:8071/actuator/health/readiness | grep UP || exit 1"
      interval: 10s # check every 10 seconds
      timeout: 5s # time to wait for healthcheck to complete
      retries: 5 # try 5 times before marking as unhealthy
      start_period: 10s # start health checking after 10s of container start
    extends:
      file: common-config.yml
      service: microservices-base-config

  eurekaserver:
    image: sgaurtech/eureka_server:v1 # use the built image from docker hub
    container_name: ai_np_eureka_server
    ports:
      - "8070:8070"
    depends_on:
      configserver: # the config_server service defined above
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent http://localhost:8070/actuator/health/readiness | grep UP || exit 1"
      interval: 10s # check every 10 seconds
      timeout: 5s # time to wait for healthcheck to complete
      retries: 5 # try 5 times before marking as unhealthy
      start_period: 20s # start health checking after 10s of container start
    extends:
      file: common-config.yml
      service: config_client-base-config

  user_profile:
    image: sgaurtech/user_profile:v1 # use the built image from docker hub
    container_name: ai_np_user_profile
    ports:
      - "8080:8080"
    depends_on:
      eurekaserver: # the eureka_server service defined above
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent http://localhost:8080/actuator/health/readiness | grep UP || exit 1"
      interval: 10s # check every 10 seconds
      timeout: 5s # time to wait for healthcheck to complete
      retries: 5 # try 5 times before marking as unhealthy
      start_period: 20s # start health checking after 10s of container start
    extends:
      file: common-config.yml
      service: eureka_client-base-config

  #TODO: add other common services like eureka server, client service, etc if needed in future

networks:
  sg_tech_ai_np_default:
    driver: bridge
