server:
  port: 8080

config_server:
  instance:
    host: ${CONFIG_SERVER_INSTANCE_HOST:localhost}
    port: ${CONFIG_SERVER_INSTANCE_PORT:8071}
spring:
  application:
    name: user_profile
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}
  config:
    #  "configserver" below does not refer to configserver application name.
    #  Its a keyword used to get configs from config server
    #  Use "optional:configserver:http://localhost:8071/" if
    #  we still want to run our serveice when user_profile
    #  service is not able to connect to config server

    import: "optional:configserver:http://${config_server.instance.host}:${config_server.instance.port}/"
